.report-table, .report-header th, .report-data td{
    border: none;
    padding: 7px;
    margin-left: 15px;
}

.report-table{
    margin-left: 40px;
}

.report-header th{
    font-weight: 600;
    font-size: 15px;
    padding: 14px;
    background-color: #91C788;
    color: #fff;
}

.report-data td{
    font-size: 15px;
    text-align: center;
}
.report-data:nth-child(even){
    background-color: rgb(240, 243, 247);
}

.location{
    margin-left: 40px;
    margin-bottom: 12px;
    background-color: #91C788;
    width: 200px;
    text-align: center;
    color: #fff;
}

.loc-text{
    margin-bottom: 15px;
    padding: 10px;
}

.tag-container{
    width: 100%;
}

.tag{
    margin-left: 40px;
    padding: 15px;
    border: 1px black solid;
    width: 35%;
    margin-bottom: 10px;
}

.tag-head{
    text-align: center;
    font-weight: 600;
}

.tag-content{
    display: flex;
    position: inherit;
}

.tag-image{
    width: 140px;
    height: 230px;
    margin-top: 40px;
    position: relative;
}